/* adding a little flair - a dark background makes for good aeshetics */
body {
    background-color: black;
    font-family: Helvetica;
}
/* for readability */ 
h1, label {
    color: white;
}
h3 {
    text-align: center;
    margin: 20%;
}
/* for the parallax images on about and the database */ 
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
/* for the text over the parallax  */ 
.section-content {
    max-width: 900px; 
    padding: 40px;
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
    text-align: center;
    width: max-content;
}

